version: "3.9"

services:

  frontend:

    build: ./frontend

    ports:
      - "80:80"

    depends_on:
      - backend


  backend:

    build: ./backend

    ports:
      - "3000:3000"

    depends_on:
      - postgres

    env_file:
      - backend/.env


  postgres:

    image: postgres:15

    environment:

      POSTGRES_DB: jungleshop
      POSTGRES_USER: jungleshop
      POSTGRES_PASSWORD: password

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:

  pgdata:
